<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"> <!-- a / faz com que o site use o publicDirectory definidio em app.js -->
    <title> Registro </title>
</head>
<body>
    <button onclick="location.href='/'"> Home </button>
    <h2> Login </h2>
    <form id="login">
        <label> Login: </label>
        <input type="text">
        <label> Senha: </label>
        <input type="password">
        <button> Logar </button>
    </form>
    <h2> Registro </h2>
    <form id="register">
        <label> Nome: </label>
        <input type="text">
        <label> Sobrenome: </label>
        <input type="text">
        <label> Matricula: </label>
        <input type="text">
        <label> Login: </label>
        <input type="text">
        <label> Senha: </label>
        <input type="password">
        <button> Registrar </button>
    </form>
</body> 
</html>