<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <title> SHOP </title>
</head>

<body class="shop">
    <main>
        <header>
            <nav>
                <a href="/" class="logo"> <img src="/images/logo-unifasb.png" alt="Logo UNIFASB" width="60" /> </a>
                <div class="mobile-menu" id="menu">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
                <ul class="shop-nav-list">
                    <li> <a href="/shop"> Produtos </a> </li>
                    <li> <a href="/shop/pedidos"> Pedidos </a> </li>
                    <li> <a href="/shop/pedidos/historico_de_pedidos"> Historico de pedidos </a> </li>
                    <li> <a href="/user/logout"> Sair </a> </li>
                </ul>
            </nav>
        </header>
        <section>
            <%- include(`../partials/${page}`); %>
        </section>
    </main>
    <script src="/shop.js"></script>
</body>

</html>