* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 62.5%;

  --primary-orange: hsl(36, 94%, 51%);
  --light-orange: hsl(36, 98%, 65%);
  --primary-blue: hsl(214, 100%, 39%);
  --dark-blue: rgb(0, 69, 159);
  --error-red: hsl(6, 82%, 43%);
  --primary-gray: hsl(224, 9%, 76%);
  --light-gray: hsla(0, 0%, 96%, 0.94);
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
}

.image-side {
  background: var(--light-orange);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-side img {
  width: 90%;
}

.form-side {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.form-side .form-side-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 6rem 12rem;
}

.form-side header {
  width: 100%;
}

.form-side header .cantina-unifasb {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.8rem;
  position: relative;
}

.form-side header .cantina-unifasb h3 {
  color: var(--primary-orange);
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.form-side header .cantina-unifasb img {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 115px;
  top: -3.6px;
}

.form-side header h1 {
  font-size: 3.6rem;
  margin-bottom: 1.4rem;
}

.form-side header p {
  color: var(--primary-gray);
  font-size: 1.4rem;
}

.form-side header p a {
  text-decoration: none;
  color: var(--primary-blue);
}

.form-side header p a:hover {
  text-decoration: underline;
}

.form-side .form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-side .form .form-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-side .form .form-item {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-bottom: 1rem;
  padding-bottom: 0.8rem;

  position: relative;
}

.form-side .form .form-item i[class='icon-error'] {
  display: none;
}

.form-side .form .form-item label {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.form-side .form .form-item input {
  padding: 1rem;
  border: 1px solid var(--primary-gray);
  border-radius: 0.4rem;
  background: var(--light-gray);
}

.form-side .form .form-item input:focus {
  outline: 1px solid var(--primary-blue);
}

.form-side .form button {
  width: 100%;
  border: none;
  cursor: pointer;
  background: var(--primary-blue);
  color: #fff;
  box-shadow: 4px 7px 20px rgba(0, 0, 0, 0.07);

  font-weight: 700;
  padding: 1.2rem;
  border-radius: 0.5rem;

  transition: background 0.2s;
}

.form-side .form button:hover {
  background: var(--dark-blue);
}

/* ===== ERROR ===== */
.form-side .form .form-item.error {
  position: relative;
}

.form-side .form .form-item.error i[class='icon-error'] {
  display: initial;
  color: var(--error-red);
  position: absolute;
  top: 3.5rem;
  right: 1rem;
}

.form-side .form .form-item.error input {
  border-color: var(--error-red);
}

.form-side .form .form-item.error input:focus {
  border-color: var(--primary-gray);
}

.form-side .form .form-item.error input:focus + i[class='icon-error'] {
  visibility: hidden;
}

.form-side .form .form-item.error small {
  margin-top: 0.4rem;
  color: var(--error-red);
}

/* ===== MEDIA QUERIES ===== */

@media (max-width: 1220px) {
  .image-side {
    width: 40%;
  }

  .image-side img {
    width: 100%;
  }

  .form-side {
    width: 60%;
  }
}

@media (max-width: 1020px) {
  .image-side {
    display: none;
  }

  .form-side {
    width: 100%;
  }

  .form-side header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-side .form-side-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 4rem 0;
  }

  .form-side .form {
    width: 80%;
    margin: 0 auto;
  }

  .form-side .form button {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 710px) {
  .form-side header h1 {
    font-size: 2.7rem;
  }

  .form-side header p {
    font-size: 1.2rem;
  }

  .form-side .form-side-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 4rem 0;
  }

  .form-side .form {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .form-side .form .form-items {
    flex-direction: column;
    overflow-y: scroll;
    flex-wrap: nowrap;
    width: 80%;
    max-height: 28rem;
    margin: 0 auto;
  }

  .form-side .form .form-items .form-item {
    width: 80%;
    margin: 0 auto;
  }
}
